body {
	box-sizing: border-box;
}

/* light mode */
:root {
	--bg-color: white;
	--nav-item-color: rgba(0, 0, 0, 0.7);
	--nav-item-active-color: #8d0cfe;
	--nav-item-hover-color: #8d0cfe;
	--btn-bg-color: rgba(255, 255, 255, 0);
	--btn-color: #8d0cfe;
	--btn-hover-color: #9925ff;
	--icon-color: #8d0cfe;
	--heading-color: #4a2f62;
	--paragraph-color: rgba(0, 0, 0, 0.65);
}

/* dark mode */
.dark-theme {
	--bg-color: rgb(37, 37, 37);
	--nav-item-color: white;
	/* --nav-item-active-color: red;
	--nav-item-hover-color: red;
	--icon-color: red; */
	--heading-color: white;
	--paragraph-color: white;
}

.bg-color,
.offcanvas-header,
.offcanvas-body {
	background-color: var(--bg-color);
}

.nav-items {
	text-decoration: none;
	color: var(--nav-item-color);
}

.nav-items:hover {
	text-decoration: none;
	color: var(--nav-item-hover-color);
}

.nav-active {
	color: var(--nav-item-active-color);
}

.btn-1 {
	color: var(--btn-color);
	background-color: var(--btn-bg-color);
	border: 2px solid var(--btn-color);
	padding: 8px 18px;
	border-radius: 5px;
}

.btn-1:hover {
	color: white;
	background-color: var(--btn-color);
	border: 2px solid var(--btn-color);
	transition: all 0.2s linear;
}

.btn-2 {
	color: white;
	background-color: var(--btn-color);
	border: 2px solid var(--btn-color);
	padding: 8px 18px;
	border-radius: 5px;
}

.btn-2:hover {
	color: white;
	background-color: var(--btn-hover-color);
	border: 2px solid var(--btn-color);
	transition: all 0.2s linear;
}

.bi-moon-stars-fill {
	color: var(--icon-color);
	font-size: 20px;
}

.bi-brightness-high-fill {
	color: var(--icon-color);
	font-size: 20px;
}

.header {
	color: var(--heading-color);
	font-size: 44px;
}

.para {
	color: var(--paragraph-color);
}

.h-nav {
	height: 11dvh;
}

.h-hero {
	height: 79dvh;
}

.texts {
	width: 50%;
	max-width: 100%;
}

.img {
	width: 50%;
	max-width: 100%;
}

@media (max-width: 991px) {
	.header {
		font-size: 38px;
	}
	/* .texts {
		width: 70%;
		max-width: 100%;
	}

	.img {
		width: 60%;
		max-width: 100%;
	} */
}

@media (max-width: 767px) {
	.header {
		font-size: 34px;
	}

	.texts {
		width: 100%;
		max-width: 100%;
	}

	.img {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 576px) {
	.header {
		font-size: 28px;
	}

	.para {
		font-size: 14px;
	}

	.texts {
		width: 100%;
		max-width: 100%;
	}

	.img {
		width: 100%;
		max-width: 100%;
	}
}

/* #logo-img {
	filter: brightness(100%);
	filter: invert(0%);
} */
